{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Changelog',
    'description': 'Here, you can follow the evolution of GimmeTheMenu development'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}

{% block body %}

    <h1>Changelog</h1>

    <div class="well">

        <p>
            Here, you can follow the evolution of <i>GimmeThe<b>Menu</b></i> development.
        </p>

        <h4>2015-01-19</h4>

        <ul>
            <li>Yummy! and Comment a review in timeline and activities page</li>
        </ul>

        <h4>2015-01-12</h4>

        <ul>
            <li>Group reviews in user timeline</li>
            <li>Field "description" in dish form</li>
        </ul>

        <h4>2015-01-08</h4>

        <ul>
            <li>Minor update in the map search</li>
            <li>Add a description field for the dish form</li>
        </ul>

        <h4>2015-01-02</h4>

        <ul>
            <li>Update timeline and reviews display</li>
            <li>Minor update on form user profile</li>
            <li>Follow people. New activities page</li>
            <li>Menu items reviewed</li>
            <li>Sub-menu for user profile</li>
            <li>Function "read more" on timeline reviews</li>
        </ul>

        <h4>2015-01-01</h4>

        <ul>
            <li>Forms and restaurant map in modal</li>
            <li>Update the restaurant page</li>
            <li>Bugs fixed</li>
        </ul>

        <h4>2014-12-30</h4>

        <ul>
            <li>Edit or delete a review</li>
            <li>Edit or delete a dish if not other reviews</li>
            <li>Slider of last reviews on home for mobile</li>
        </ul>

        <h4>2014-12-28</h4>

        <ul>
            <li>add a last restaurants menu item</li>
            <li>Make public or private timeline</li>
        </ul>

        <h4>2014-12-23</h4>

        <ul>
            <li>User login by Facebook</li>
        </ul>

        <h4>2014-12-21</h4>

        <ul>
            <li>Add a quick review when user has already reviewed a dish</li>
            <li>Fix bug of image orientation</li>
        </ul>


        <h4>2014-12-19</h4>

        <ul>
            <li>Fix bug of the restaurant page when user is not logged</li>
        </ul>

        <h4>2014-12-16</h4>

        <ul>
            <li>Add validation for multiple files upload for the restaurant menu</li>
            <li>Add share and follow buttons</li>
            <li>Fixed minor bugs on forms</li>
            <li>Add unordered users page</li>
        </ul>

        <h4>2014-12-15</h4>

        <ul>
            <li>Check if a dish already exists for a restaurant before add it.</li>
            <li>Add JS validation for forms.</li>
            <li>Fix a bug when user email already exists on sign up.</li>
        </ul>

        <h4>2014-12-12</h4>

        <ul>
            <li>Multiple files upload for menu</li>
            <li>Fix remember-me function on login</li>
        </ul>

        <h4>2014-12-11</h4>

        <ul>
            <li>Add on photos menu a cool overlay and responsive photos gallery (photoswipe)</li>
            <li>Fix a bug when there is a personal note on review</li>
        </ul>


        <h4>2014-12-09</h4>

        <ul>
            <li>Update dish page to show a meal</li>
            <li>Add a meal and add dishes to a meal</li>
            <li>Fix minor bugs; improve user experience; show the right price of a dish</li>
            <li>Starting the changelog page</li>
        </ul>

        <h4>2014-11-17</h4>

        <ul>
            <li>Project init, making wireframing and proof of concept</li>
        </ul>
    </div>

{% endblock %}