{% extends '::base.html.twig' %}

{% block title %}Changelog{% endblock %}

{% block body %}

    <h1>Changelog</h1>

    <div class="well">

        <p>Here, you can follow the evolution of <i>GimmeThe<b>Menu</b></i> development.</p>

        <h2>2014-12-12</h2>

        <ul>
            <li>Fix remember-me function on login</li>
        </ul>

        <h2>2014-12-11</h2>

        <ul>
            <li>Add on photos menu a cool overlay and responsive photos gallery (photoswipe)</li>
            <li>Fix a bug when there is a personal note on review</li>
        </ul>


        <h2>2014-12-09</h2>

        <ul>
            <li>Update dish page to show a meal</li>
            <li>Add a meal and add dishes to a meal</li>
            <li>Fix minor bugs; improve user experience; show the right price of a dish</li>
            <li>Starting the changelog page</li>
        </ul>

    </div>

{% endblock %}