{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title':  '404 Page not found',
    'description': 'Not found...'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}

{% block body %}
    <h1>404</h1>
    <div class="well">
        <h2>Page not found</h2>
    </div>
{% endblock body %}
