{% extends '::base.html.twig' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block body %}
    <h1>Oops!</h1>
    <h2>{{ status_code }} {{ status_text }}</h2>
{% endblock body %}
