{% extends '::base.html.twig' %}

{#{% block head_meta %}#}
    {#{% set meta = {#}
    {#'title':  'Forbidden access',#}
    {#'description': 'Forbidden access'#}
    {#} %}#}
    {#{% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}#}
{#{% endblock %}#}

{% block body %}
    <h1>403</h1>
    <h2>Forbidden access</h2>
{% endblock body %}
