{% extends '::base.html.twig' %}

{#{% block head_meta %}#}
    {#{% set meta = {#}
    {#'title':  'Oops',#}
    {#'description': 'The server returned an error'#}
    {#} %}#}
    {#{% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}#}
{#{% endblock %}#}


{% block body %}
    <h1>Oops!</h1>
    <div class="well">
        <h2>{{ exception.message|nl2br|format_file_from_text }}</h2>
    </div>
{% endblock body %}
