{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
    {% if not user.facebookId %}
        <p>
            <b>Connect your accounts :</b>
            {{ render(url('hwi_oauth_connect')) }}
        </p>
        <hr>
    {% endif %}

    <ul>
        <li>Email: <b>{{ user.email }}</b></li>
        <li>First name: <b>{{ user.firstName }}</b></li>
    </ul>

    <p><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">Edit</a></p>
</div>
