{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
    <ul>
        <li>{{ user.email }}</li>
        <li>First name : {{ user.firstName }}</li>
    </ul>
    <p><a href="{{ path('fos_user_profile_edit') }}">Update</a></p>
</div>
