<h2>Filtrer par catégorie</h2>
<ul>
    <li>
        <a href="{{ path('project_index') }}">
            Toutes
        </a>
    </li>

{% for category in categories %}
    <li>
        <a href="{{ path('project_category', { 'slug': category.slug }) }}">
            {{ category.name }}
        </a>
    </li>
{%  endfor %}
</ul>
