{% extends '::base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Les projets</h1>

    {{ include('ApplicationMainBundle:Project:categories.html.twig', {'categories': categories}) }}

    <hr>

    {{ include('ApplicationMainBundle:Project:projects.html.twig', {'projects': projects}) }}

{% endblock %}
