{% extends '::base.html.twig' %}

{% block title %}Administration login{% endblock %}

{% block body %}
    <h1>Administration</h1>

    {% if error %}
        <div>{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path('admin_login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Valider</button>
    </form>
{% endblock %}
