{% extends "FOSUserBundle::layout.html.twig" %}

{% block head_meta %}
    {% set meta = {
    'title': 'Sign up',
    'description': 'Start on Gimme The Menu!'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}

{% block h1 %}{% endblock h1 %}

{% block fos_user_content %}
    {% if not app.user %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% else %}
        <p>You are already registered!</p>
    {% endif %}
{% endblock fos_user_content %}
