{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Activities',
    'description': 'Activities of my followed people'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body_attr %}data-spy="scroll" data-target="nav"{% endblock %}


{% block body %}

    {% include 'ApplicationMainBundle:Common:user_menu.html.twig' %}

    <h1>Activities</h1>

    <div class="well">
        These are the reviews of <a href="{{ path('user_followed', { 'slug': app.user.slug }) }}">the people you follow</a>.
    </div>

    {% if logs|length %}

        {% include 'ApplicationMainBundle:Timeline:timeline.html.twig' %}

    {% else %}

        <div class="alert alert-danger">
            <p>
                <b>No reviews found</b>
            </p>
            <p>
                <a href="{{ path('users_top') }}" class="btn btn-danger">Search people to follow here</a>
            </p>
        </div>

    {% endif %}

{% endblock %}