body {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #eee;
}

h1 {
    font-size:31px;
}

h2 {
    font-size:23px;
}

h3 {
    font-size:19px;
}

#myAlertModal {
    z-index: 10000;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

input.noborder {
    border:none !important;
}

hr {
    border-top: 1px solid #ddd !important;;
}

.restaurantAddress {
    padding-left: 24px;
}

.price small {
    color: white;
}

.timeline.reviews dl {
    padding: 0;
    margin: 0;
}
.timeline.reviews dl:before {
    left: 10%;
}
.timeline.reviews dl dd .circ {
    top: 8px;
    left: 10%;
}
.timeline.reviews dl dd .time {
    top: 0px;
    left: 10%;
}
.timeline.reviews dl dd .events {
    width: 87%;
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .timeline.reviews dl dd .time {
        left: 10%;
        margin-top:-10px
    }
    .timeline.reviews dl dd.pos-right .time {
        padding:0;
        margin-left: -100px;
        text-align: right;
    }
}

.rating-input {
    font-size: 24px;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .rating-input {
        font-size: 40px;
        text-align: center;
    }
}

blockquote {
    font-size:100%;
}

.glyphicon-heart, .glyphicon-heart-empty {
    color:#DA4453;
}
