body {
    /*padding-top: 70px;*/
    padding-bottom: 60px;
    background-color: #eee;
}

h1 {
    font-size:31px;
}

h2 {
    font-size:23px;
}

h3 {
    font-size:19px;
}

.modal {
    z-index: 10000;
}

.images-gallery img {
    width: 100%;
}


.images-gallery div {
    margin-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

input.noborder {
    border:none !important;
}

hr {
    border-top: 1px solid #ddd !important;;
}

.restaurantAddress {
    padding-left: 15px;
}

.price small {
    color: white;
}

.timeline.reviews dl {
    padding: 0;
    margin: 0;
}
.timeline.reviews dl:before {
    left: 10%;
}
.timeline.reviews dl dd .circ {
    top: 8px;
    left: 10%;
}
.timeline.reviews dl dd .time {
    top: 0px;
    left: 10%;
}
.timeline.reviews dl dd .events {
    width: 82%;
    margin-top: 0;
    margin-bottom: 10px;
}

.timeline dl dd .events .events-object {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .timeline.reviews dl dd .time {
        left: 10%;
        margin-top:-10px;
        width: 50px;
    }
    .timeline dl dd .time {
        width: 50px;
    }
    .timeline.reviews dl dd.pos-right .time {
        padding:0;
        margin-left: -100px;
        text-align: right;
    }
}

.rating-input {
    font-size: 24px;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .rating-input {
        font-size: 40px;
        text-align: center;
    }
}

blockquote {
    font-size:100%;
}

.glyphicon-heart, .glyphicon-heart-empty {
    color:#DA4453;
}

.thumbnail {
    overflow: hidden;
}

.zoom-hover img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.zoom-hover img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.1, M12=-0, M21=0, M22=1.1);
}




/*.row {*/
    /*margin-left:0;*/
    /*margin-right:0;*/
/*}*/

.item img.image {
    max-width: 100%;
    margin-top: 9px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}


/* responsive media queries */

@media (max-width: 768px) {
    .isotope .item {
        position: static ! important;
        -webkit-transform: translate(0px, 0px) ! important;
        -moz-transform: translate(0px, 0px) ! important;
        transform: translate(0px, 0px) ! important;
    }
}


