{{ form_start(form_review) }}

    {% include 'ApplicationMainBundle:Review:reviewContentForm.html.twig' with {'review': form_review} %}

    <button type="submit" class="btn btn-primary">Submit</button>

    <p class="help-block">* required</p>
{{ form_rest(form_review) }}
{{ form_end(form_review) }}