{% extends 'ApplicationMainBundle:Email:layout.html.twig' %}


{% block title %}{{ user }}, you have new followers:{% endblock title %}


{% block body %}

    {% if user %}

        <ul>
        {% for follower in user.followers %}
            <li>
                <a href="http://www.gimmethemenu.com{{ path('user_timeline', {'slug': follower.user.slug}) }}" style="color:#26816a">{{ follower.user }}</a>
            </li>
        {% endfor %}
        </ul>

    {% endif %}

{% endblock body %}