{% extends 'ApplicationMainBundle:Email:layout.html.twig' %}

{% block title %}You have new followers{% endblock title %}

{% block body %}
    <a href="http://www.gimmethemenu.com" style="color:#26816a">{{ name }}</a>
    <br>
    Tra la la la la la la ra la la la la la la de {{ name }} !
    <br>
    <br>

    <a href="http://www.gimmethemenu.com" style="color:#26816a">Test</a>
    <br>
    Tra la la la la la la ra la la la la la la
    <br>
    <br>
{% endblock body %}