{% extends '::base.html.twig' %}

{% block title %}Projets - {{ category.name }}{% endblock %}

{% block body %}

    <h1>Les projets</h1>

    {{ include('TEMainBundle:Project:categories.html.twig', {'categories': categories}) }}

    <hr>

    <h2>{{ category.name }}</h2>

    {{ include('TEMainBundle:Project:projects.html.twig', {'projects': projects}) }}
{% endblock %}
