{% extends '::base.html.twig' %}

{% block title %}Modifier ma réponse au projet "{{ project_response.project.title }}"{% endblock %}

{% block body %}
    <h1>{{ project_response.project }}</h1>
    <h2>Modifier ma proposition</h2>

    {% include 'ApplicationMainBundle:ProjectResponse:form.html.twig' with {'form': edit_form} %}

    <p>
        <a href="{{ path('project_show', { 'slug_project': project_response.project.slug, 'slug_category': project_response.project.category.slug}) }}">
            Revenir au projet
        </a>
    </p>
    <hr>
    {{ form(delete_form) }}
{% endblock %}
