{#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn btn-primary">#}
    {#Facebook connect#}
{#</a>#}

<div class="fb-login-button"
     data-size="large"
     onlogin="checkLoginState();"></div>

<script>
    function statusChangeCallback(response) {

        if (response.status === 'connected') {
            // connected
            document.location = "{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}";
        } else {
            // not_authorized
            FB.login(function(response) {
                if (response.authResponse) {
                    document.location = "{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}";
                } else {
                    alert('Cancelled.');
                }
            });
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook_app_id }}',
            cookie     : true,  // enable cookies to allow the server to access the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.1' // use version 2.1
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

//        FB.getLoginStatus(function(response) {
//            statusChangeCallback(response);
//        });
//
//        FB.Event.subscribe('auth.authResponseChange', function(response) {
//            statusChangeCallback(response);
//        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>