<p>
    Please <a href="{{ path('fos_user_security_login', { 'redirect': redirect }) }}" class="btn btn-default">login</a>
    or <a href="{{ path('fos_user_registration_register', { 'redirect': redirect }) }}" class="btn btn-default">sign in</a>
</p>