{% if dishes|length == 0 %}

    <a name="add-a-dish"></a>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Dibs!</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                Add the first dish for this restaurant
            </div>

            {% if not app.user %}

                {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

            {% else %}

                <p>
                    <a href="{{ path('add_group_dishes', restaurant.paramsForUrl) }}">Do you prefer to add a meal ?</a>
                    <small>(for example starter + main course + dessert)</small>
                </p>

                {% include 'ApplicationMainBundle:Dish:dishForm.html.twig' with {'form_dish': form_dish} %}

            {% endif %}
        </div>
    </div>

{% else %}

    <div class="well">
        Choose one below to see reviews and photos.

        <a name="add-a-dish"></a>
        {% if app.user %}
            Or <a href="#add-a-dish" class="btn btn-primary" onclick="$('#addDishForm').toggle();">add a dish</a>
        {% else %}
            Or you can add a dish if you're logged. {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}
        {% endif %}
    </div>

    {% if app.user %}
        <div id="addDishForm" class="panel panel-info collapse">
            <div class="panel-heading">
                <h3 class="panel-title">Add a dish or a drink</h3>
            </div>
            <div class="panel-body">

                <p>
                    <a href="{{ path('add_group_dishes', restaurant.paramsForUrl) }}">Do you prefer to add a meal ?</a>
                    <small>(for example starter + main course + dessert)</small>
                </p>

                {% include 'ApplicationMainBundle:Dish:dishForm.html.twig' with {'form_dish': form_dish} %}

            </div>
        </div>
    {% endif %}

    <a name="dishes"></a>
    <div class="row">

        {% for dish in dishes %}

            <div class="col-xs-6 col-sm-4 col-md-4">

                {% include 'ApplicationMainBundle:Dish:dishThumbnail.html.twig' with {'dish': dish} %}

            </div>
        {% endfor %}

    </div><!-- /row -->
{% endif %}