<div class="modal fade" id="addDishModal" tabindex="-1" role="dialog" aria-labelledby="addDishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addDishModalLabel">
                    Add a dish
                </h4>
            </div>

            <div class="modal-body">
                {% if not app.user %}

                    {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                {% else %}

                    <p>
                        <a href="{{ path('add_group_dishes', restaurant.paramsForUrl) }}">Do you prefer to add a meal ?</a>
                        <small>(for example starter + main course + dessert)</small>
                    </p>

                    {% include 'ApplicationMainBundle:Dish:dishForm.html.twig' with {'form_dish': form_dish} %}

                {% endif %}
            </div>
        </div>
    </div>
</div>


{% if dishes|length %}

    <div class="well">
        Choose one below to see reviews and photos.

        {% if app.user %}
            Or
            <button type="button" data-toggle="modal" data-target="#addDishModal" class="btn btn-primary btn-sm">
                Add a dish
            </button>
        {% else %}
            You can add a dish if you're logged. {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}
        {% endif %}
    </div>


    <a name="dishes"></a>
    <div class="row">

        {% for dish in dishes %}

            <div class="col-xs-6 col-sm-4 col-md-2">

                {% include 'ApplicationMainBundle:Dish:dishThumbnail.html.twig' with {'dish': dish} %}

            </div>
        {% endfor %}

    </div><!-- /row -->

{% else %}

    <button type="button" data-toggle="modal" data-target="#addDishModal" class="btn btn-primary btn-sm">
        Add a dish
    </button>

{% endif %}