<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10">
        <input id="map-search-input" type="text" class="form-control" placeholder="Search a restaurant name or any address">
        <div id="map_canvas"></div><!-- map -->
    </div>
    <div class="col-sm-2 col-md-2 hidden-xs">
        <div id="listing">
            <table id="resultsTable" class="table table-condensed table-striped table-bordered table-hover">
                <tbody id="results"></tbody>
            </table>
        </div><!-- listing on the right of the map -->
    </div>
</div>

<div class="well">
    <span class="glyphicon glyphicon-arrow-up"></span> First of all, search a restaurant or an address, you will see all restaurants around.
    <span id="messageGeolocate"></span>
</div>