{% extends 'SonataAdminBundle::layout.html.twig' %}

{% block sonata_sidebar_search %}}
{% endblock %}

{% block side_bar_after_nav %}
{% endblock %}

{#
{% block sonata_top_nav_menu %}
{% endblock %}
#}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% include admin_pool.getTemplate('user_block') %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
